# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Node/UI
ui/node_modules/
ui/dist/

# Builds
build/
dist/
*.zip

# Editors
.vscode/
.idea/
/backup
 copy *
/data/redis/appendonlydir
